/* Colors: */
/* black: #000000 */
/* Light-grey-black(normal-btn + expanded-daytime-text): #303030 */
/* white: #ffffff */
/* active-btn: #999999 */
/* font-family: inter */

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #ffffff;
  height: 100vh;
  min-height: 100vh;
  width: 100%; 
  background-image: url("../images/desktop/bg-image-daytime.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-size: cover; 
  background-position: center;
  background-blend-mode: overlay;                               
}

.container {
  height: 100%;
  width: 100%;
}

.mainContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.quoteSection {
  width: 100%;
  height: 40%;
  padding: 5vw 12vw 0 12vw;
  /* background-color: #ff0e0e15; */
}

.clockSection {
  width: 100%;
  height: 60%;
  padding: 0 12vw 5vw 12vw;
  /* background-color: #0eff221a; */
}

.expandActive {
  height: 50%;
  padding: 5vw 12vw 0 12vw;
}

.clockWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

.expandedSection {
  width: 100%;
  height: 50%;
  padding: 3em 12vw 5vw 12vw;
  margin-top: 3vw;
  background-color: #c7c7c7;
}

.hide {
  display: none;
}

.quoteWrapper {
  width: 60%;
}

.bodyText {
  line-height: 1.75em;
}

.quoteText {
  width: calc(100% - 1.5em);
  display: inline-block;
  font-weight: 300;
}

.quoteAuthor {
  font-weight: bold;
  margin-top: 0.5em;
}

.refreshBtnWrapper {
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.4em;
  float: right; 
  text-align: right;
}

.refreshBtn:hover {
  cursor: pointer;
}

.clockRow2 {
  margin: 0.4em 0 0.6em 0;
}

.tODDynamic {
  display: inline-block;
}

.tODStatic {
  display: inline-block;
  position: relative;
  left: -0.4em;
}

.tODIcon {
  position: relative;
  top: 0.25em;
  margin-right: 0.8em;
}

.tODText {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.timeText {
  font-size: 10.9em;
  font-weight: 800;
}

.timezoneText {
  font-size: 2em;
  font-weight: 200;
}

.timezone, .time {
  display: inline-block;
}

.areaText {
  display: inline-block;
  font-size: 1.45em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.expandBtn {
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  width: 8.5em;
  background-color: #ffffff;
  outline: none;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #303030;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 1.75em;
  padding: 0 0;
}

.expandBtn:hover {
  cursor: pointer;
}

.expandBtn:hover > .fa-chevron-circle-down {
  color: #7f7f7f;
}

.fa-chevron-circle-down {
  font-size: 2.5em;
  position: relative;
  top: 0.225em;
  right: -0.3em;
  transition: all 0.2s ease-in-out;
}

.btnWrapper {
  position: relative;
  top: -0.5em;
  float: right;
}

.expandWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  color: #303030;
}

.expandLeft, .expandRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expandRight {
  border-left: 2px solid #30303027;
  padding-left: 7vw;
}

.expandCol1, .expandCol3 {
  padding-bottom: 1.7em;
}

.key {
  font-size: 0.9em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.07em;
}

.value {
  font-size: 2.8em;
  font-weight: 800;
  letter-spacing: 0.02em;
}




/************** Responsiveness ****************/
/*Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .quoteWrapper {
    width: 80%;
  }

  .expandLeft {
    width: 60%;
  }

  .expandRight {
    width: 40%;
  }
} 



/*Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .btnWrapper {
    position: static;
    float: none;
    display: block;
    margin-top: 3.5em;
  }

  .clockWrapper {
    justify-content: center;
  }

  .expandActive {
    height: 60%;
  }

  .expandedSection {
    height: 40%;
  }

  .timeText {
    font-size: 9.8em;
  }

  .expandRight {
    border-left: none;
    padding-left: 3.5vw;
  }

  .value {
    font-size: 2.25em;
    font-weight: 800;
    letter-spacing: 0.02em;
  }

  .expandCol1, .expandCol3 {
    padding-bottom: 4em;
  }
}



/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .quoteWrapper {
    width: 100%;
  }

  .expandedSection {
    margin-top: 0;
    padding: 5vw 10vw 5vw 10vw;
  }

  body {
    font-size: 16px;
  }

  .quoteSection {
    padding: 5vw 10vw 0 10vw;
  }

  .clockSection {
    padding: 0 10vw 5vw 10vw;
  }

  .expandActive {
    padding: 5vw 10vw 0 10vw;
  }

  .tODIcon {
    top: 0.33em;
  }

  .timeText {
    font-size: 9.7em;
  }

  .expandLeft, .expandRight {
    width: 100%;
    justify-content: center;
    height: 50%;
  }

  .expandWrapper {
    flex-direction: column;
    justify-content: center;
  }

  .expandCol1, .expandCol3 {
    padding-bottom: 0;
  }

  .expandRight {
    padding-left: 0;
  }

  .mobileCol {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .key {
    padding-bottom: 0;
    height: 0.8em;
    letter-spacing: 0.02em;
  }
  
  .value {
    font-size: 1.6em;
    font-weight: 800;
    letter-spacing: 0;
  }
}


          
@media (max-width: 575.98px) {
  .quoteSection {
    padding: 5vw 5vw 0 5vw;
  }

  .clockSection {
    padding: 0 5vw 5vw 5vw;
  }

  .expandedSection {
    padding: 5vw 5vw 5vw 5vw;
  }

  .expandActive {
    padding: 5vw 5vw 0 5vw;
  }

  .tODStatic {
    display: none;
  }

  .timeText {
    font-size: 7.6em;
  }
  
  .value {
    font-size: 1.4em;
  }
}



@media (max-width: 414.98px) {
  .timeText {
    font-size: 7em;
  }

  body {
    font-size: 15px;  
  }

}

@media (max-width: 360.98px) {
  .timeText {
    font-size: 5em;
  }
}

@media (max-height: 700px) and (min-width: 415px){
  body {
    height: 768px;                          
  }
}




